@font-face {
  font-family: "OpenSans Light";
  src: url("../Assets/fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans Regular";
  src: url("../Assets/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans Medium";
  src: url("../Assets/fonts/OpenSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans Bold";
  src: url("../Assets/fonts/OpenSans-Bold.ttf") format("truetype");
}

:root {
  --color-1: #3f59ca;
  --color-2: #ffefd2;
  --color-3: #f053a0;
  --color-4: #010010;
}

html,
body {
  padding: 0;
  margin: 0;

  /* background-image: radial-gradient(
    circle 248px at center,
    #16d9e3 0%,
    #30c7ec 47%,
    #46aef7 100%
  ); */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* font-family: "OpenSans Light"; */
}

body {
  background-color: var(--color-2) !important;
}
p {
  font-family: "OpenSans Light";
  font-size: 1rem;
}
h1,
h2,
h3 {
  font-family: "OpenSans Bold";
  color: var(--color-1);
}
.h5 {
  font-family: "OpenSans Bold";
}
button {
  font-family: "OpenSans Bold" !important;
}
.display-none {
  display: none;
}

@media screen and (max-width: 768px) {
  .login-main-container {
    padding: 0px !important;
  }
}

.hobbies-container svg {
  fill: var(--color-1);
  stroke: var(--color-1);
  font-size: 24px;
}
.hobbies-container svg:hover {
  fill: var(--color-3);
  stroke: var(--color-3);
  font-size: 24px;
}
.hobbies-container .card-image {
  border-radius: 10px;
}
.hobbies-container .card {
  border-radius: 10px;
}
.hobbies-container .card-title {
  margin-bottom: 0.2rem !important;
  text-transform: uppercase;
}
.hobbies-container .card-body {
  padding: 1rem 0.3rem !important;
}
