@font-face {
  font-family: "Roboto Light";
  src: url("../Assets/fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../Assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../Assets/fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../Assets/fonts/Roboto-Bold.ttf") format("truetype");
}

:root {
  --primary-color: #0a6aad;
  --secondary-color: #ffefd2;
  --third-color: #ed7ca9;
  --fourth-color: #ee470d;
  --fifth-color: #ffd802;
}

html,
body {
  padding: 0;
  margin: 0;

  /* background-image: radial-gradient(
    circle 248px at center,
    #16d9e3 0%,
    #30c7ec 47%,
    #46aef7 100%
  ); */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* font-family: "Roboto Light"; */
}

body {
  background-color: var(--secondary-color) !important;
}
p {
  font-family: "Roboto Light";
  font-size: 1rem;
}
h1,
h2,
h3 {
  font-family: "Roboto Bold";
  color: var(--fourth-color);
}
.display-none {
  display: none;
}
