.home {
  height: calc(100vh - 74px);
}
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  align-items: center;
}
.flexItemLeft {
  padding: 10px;
  flex: 50%;
  align-items: center;
}
.flexItemLeft button {
  display: none;
}

.flexItemRight {
  padding: 10px;
  flex: 50%;
}
.flexItemRightContent {
  background: url("../Assets/images/hobbies_a.svg");
  height: 50vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--color-3);
  margin-top: 50px;
  border-radius: 25px;
  background-position: center;
}
.aboutPage .flexItemRightContent {
  background: url("../Assets/images/hobbies_d.svg");
  background-size: contain;
  background-repeat: no-repeat;

  background-position: center;
}
@media screen and (max-width: 764px) {
  .flexItemLeft,
  .flexItemRight {
    text-align: center;
  }
  .flexItemLeft h1 {
    font-size: 55px;
  }
  .flexItemLeft button {
    display: inline-block;
    padding: 14px 28px;
    border-radius: 30px;
    background-color: var(--color-1);
    color: white;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
  }
}
