@media screen and (max-width: 1200px) {
  .home {
    height: calc(100vh - 74px);
    align-items: center;
  }
}

.flexContainer {
  display: flex;
}
.aboutPage.flexContainer {
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .flexContainer {
    padding: 3rem 5rem;
  }
}
.flexItemLeft {
  flex: 40%;
  margin-top: 5%;
}
.flexItemLeft button {
  display: inline-block;
  padding: 14px 28px;
  border-radius: 10px;
  background-color: var(--color-1);
  color: white;
  width: 100%;
  max-width: 250px;
  font-size: 16px;
}

.flexItemRight {
  flex: 60%;
}
.flexItemRightContent {
  background: url("../Assets/images/hobbies_a.svg");
  height: 50vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--color-3);
  margin-top: 50px;
  border-radius: 25px;
  background-position: center;
}
.aboutPage .flexItemRightContent {
  background: url("../Assets/images/hobbies_d.svg");
  background-size: contain;
  background-repeat: no-repeat;

  background-position: center;
}
@media screen and (max-width: 764px) {
  .flexItemLeft,
  .flexItemRight {
    text-align: center;
  }
  .flexItemLeft h1,
  .flexItemRight h1 {
    font-size: 55px;
  }
  .flexItemLeft button {
    display: inline-block;

    max-width: 300px;
    font-size: 16px;
  }
  .flexItemLeft button:hover {
    background-color: var(--color-3);
    color: white;
  }
}
