.containerHeight {
  height: 95vh;
  background: var(--fifth-color);
  border-radius: 10px;
  margin: 10px;
}
.loginContainerImage {
  height: 90vh;
  background: url("../Assets/images/hobbies_b.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 10px 50%;
}
.loginContainer {
  height: 90vh;
  padding: 30px;
  text-align: center;
  margin-top: 40px;
}
.loginContainer button {
  border: none;
  box-shadow: none;
  width: 60%;
  height: 40px;
  background: var(--fourth-color);
  color: var(--secondary-color);
  border-radius: 10px;
  font-weight: bold;
}
.loginContainer input {
  width: 60%;
  height: 40px;
  box-shadow: none;
  border: none;
  border-radius: 10px;
  background: var(--secondary-color);
  color: var(--fourth-color);
  padding: 5px;
  border: 1px solid tomato;
  outline: none;
}
.loginContainer img {
  display: none !important;
}
.loginContainer div,
.loginContainer a {
  color: var(--fourth-color) !important;
}

@media screen and (max-width: 720px) {
  .containerHeight {
    margin: 10px 0px !important;
  }
  .loginContainer button,
  .loginContainer input {
    width: 100%;
  }
  .loginContainer img {
    display: block !important;
    height: 200px !important;
    margin-bottom: 10px !important;
  }
}
