.sectionCards {
  border-radius: 20px !important;
  border: none !important;
  font-family: "OpenSans Light";
  color: var(--color-4);
  text-align: center;

  padding: 35px 25px !important;
}
.sectionCards img {
  height: 80px !important;
}
.cardSection h1,
.cardSection p {
  color: var(--color-2);
}
.cardSection {
  background: var(--color-3);
  padding: 3rem;
}
@media screen and (min-width: 720px) {
  .cardSection {
    height: 100vh;
  }
  .cardSection h1,
  .cardSection p {
    padding: 0px 25% !important;
  }
}
.cardSection h3 {
  margin-top: 20px !important;
}

@media screen and (max-width: 720px) {
  .cardContainer {
    flex-direction: column;
  }
  .cardSection {
    height: 100%;
    padding: 1rem;
  }
  .sectionCards {
    height: auto;
  }
}
